.left {
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
}
.text-center{
  text-align: center;
  margin: 20px;
}
.cart-products{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  width: 700px;
  border: 1px solid black;
  position: relative;

  .delete{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 25px;
    color: red;
    cursor: pointer;
  }

  &-img{
    width: 200px;
    height: 250px;

    img{
      width: 100%;
      height: 100%;
    }
  }

  &-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &-number{
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
    margin-right: 10px;

    span{
      display: block;
      font-size: 30px;
      cursor: pointer;
    }
  }
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-control{
  display: flex;
  flex-direction: column;
}
.form{
  margin: 20px;
  width: 600px;
}
.btn{
  width: 105px;
  margin-top: 10px;
}
hr{
  border: 1px solid black;
  width: 100%;
}
small{
  color: red;
}